html,body {
    height: 100%;
  }

body {
    font-size: 13px;
    margin: 0px ;
    overflow: hidden;
    background-color: black !important;
}

#viewspacewrapper {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#viewer1, #viewer2, #viewer3, #viewer4{
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
}

#source-form {
    margin-block-end: 0px;
}

#input-id-txtbox {
    width: 120px;
}

#c {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: -1;
}

#top-div {
    height: 48px; width: 100%; background-color: #242730; padding-top: 10px;
}

#addframe {
    height: 20px; width: 105px;; border-radius: 2px; background-color: #6A7485;
    margin-left: 100px; color: white; padding-top:5px; cursor: pointer; z-index: 999999;
}

#info {
    font-size: 28px;
    position: absolute;
    top: 0px; width: 100%;
    padding: 5px;
    color: white;
}

.navbar-primary {
    background-color: #111;
    bottom: 0px;
    left: 0px;
    position: absolute;
    top: 51px;
    width: 200px;
    z-index: 8;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  
  .navbar-primary.collapsed {
    width: 60px;
  }
  
  .navbar-primary.collapsed .nav-label {
    display: none;
  }
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
  
  
  
  .btn-expand-collapse {
      position: absolute;
      display: block;
      left: 0px;
      bottom:0;
      width: 100%;
      padding: 8px 0;
      border-top:solid 1px #666;
      color: grey;
      font-size: 20px;
      text-align: center;
  }
  
  .btn-expand-collapse:hover,
  .btn-expand-collapse:focus {
      background-color: #222;
      color: white;
  }
  
  .btn-expand-collapse:active {
      background-color: #111;
  }
  
  .navbar-primary-frame-list {
      height: 90%; overflow: auto;



  }

  .navbar-primary-frame-list,
  .navbar-primary-frame-list li {
    margin:0; padding:0;
    list-style: none;
    color: #00ff00;
    font-size: 10px;
    line-height: 11px;
  }

  .navbar-primary-frame-list li {
    padding-left: 20px;
  }    
  
  .navbar-primary-frame-list li a {
    display: block;
    padding: 10px 18px;
    text-align: left;
    border-bottom:solid 1px #444;
    color: #ccc;
  }
  
  .navbar-primary-frame-list li a:hover {
    background-color: #000;
    text-decoration: none;
    color: white;
  }
  
  .main-container {    
    margin-left: 200px ;
  }
  
  .collapsed + .main-container {
    margin-left: 60px;
  }

  .slider-container {
    position: fixed;
    bottom: 60px;
    right: 300px;
    background: rgb(255, 255, 255, 0);
    height: 20px;
    
    width: 60%;
  }