a {
    color: #8ff;
}
#menu {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}
.element {
    box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
    border: 1px solid rgba(127,255,255,0.25);
    font-family: Helvetica, sans-serif;
    text-align: center;
    line-height: normal;
    cursor: default;
}
.element:hover {
    box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
    border: 1px solid rgba(127,255,255,0.75);
}
    .element .number {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 20px;
        color: rgba(127,255,255,0.75);
    }
    .element .symbol {
        position: absolute;
        top: 40px;
        left: 0px;
        right: 0px;
        /*font-size: 60px;*/
        font-weight: bold;
        color: rgba(255,255,255,0.75);
        text-shadow: 0 0 10px rgba(0,255,255,0.95);
    }
    .element .details {
        position: absolute;
        bottom: 15px;
        left: 0px;
        right: 0px;
        font-size: 12px;
        color: rgba(127,255,255,0.75);
    }